#aside-left {
    background-color: black;
    color: white;
  
    I {
      width: 20px;
      height: 20px;
      padding: 0px;
    }
  
    p {
      margin-bottom: 0px;
    }
  }
  
  
  #playlist {
    height: 65vh;
    overflow: auto;
  }