body {
  background: linear-gradient(to top, #000, #333);
}

.sidebar {
  background-color: black;
}
.btn-group {
  background-color: #000;
}
.album-row {
  background: linear-gradient(to top, #000, #333);
}
#play-btn {
  background-color: #1ed760;
  color: #000;
  border: none;
  font-weight: bold;
}

.item {
  width: 370px;
}

.playlist-container {
  height: 110px;
}
.play,
.playCard {
  position: relative;
}
.play span {
  color: #1ed760;
  font-size: 3em;
  position: absolute;
  right: -5px;
  top: -22px;
  opacity: 0;
  transition: all ease 0.4s;
}
.playCard span {
  color: #1ed760;
  font-size: 4em;
  position: absolute;
  right: 70px;
  top: -50px;
  opacity: 0;
  transition: all ease 0.4s;
}
.play span:hover,
.playCard span:hover {
  opacity: 1;
  transform: translateY(-20px);
}

#img-playlist {
  height: inherit;
}
.card img {
  width: auto;
  padding-top: 1em;
}

.album-player {
  height: 100px;
}
#album-img {
  height: 60%;
}
.player {
  display: flex;
  flex-direction: column;
}

.player-top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.player-top i {
  margin: 0 15px 10px;
  color: lightgrey;
  transition-duration: 0.2s;
}

.player-top i:hover,
.player-settings i:hover {
  cursor: pointer;
  color: #ffffff;
}

.player-top i:active,
.player-settings i:active,
.album-player i:active {
  transform: scale(1.2);
}

.player-bottom span {
  font-size: 10px;
}

.player-line {
  width: 90%;
  border: 2px solid grey;
  border-radius: 5px;
  display: inline-block;
  margin: 0 10px;
  transition-duration: 0.2s;
}
.player-line:hover,
.settings-line:hover,
.album-player i:hover {
  cursor: pointer;
}

.player-settings {
  display: flex;
  align-items: center;
  justify-content: end;
}

.player-settings i {
  margin-right: 10px;
}

.slidecontainer {
  width: 100%;
  position: relative;
  bottom: 5px;
}

.slider {
  width: 50%;
  height: 3px;
  background: grey;
  border-radius: 5px;
}

.slider:hover {
  background-color: lightgrey;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: lightgrey;
  cursor: pointer;
  border-radius: 50%;
}
.fixed-bottom {
  background-color: #000;
  position: sticky;
  bottom: 0;
  z-index: 1;
}

.sticky-bottom {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  position: sticky;
  bottom: 65px;
  z-index: 1;
}
.moving-text {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.new-navbar {
  position: sticky;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
