body {
  background-color: #202020;
  font-family: "Circular";
}

#playlist {
  height: 65vh;
  overflow: auto;
}

#left-side-bar {
  color: rgb(169, 169, 169);
  background-color: #0a0a0a;
}

#newPlaylistIcon {
  background-color: rgb(169, 169, 169);
  color: #0a0a0a;
  font-size: 20px;
  padding: 0.1rem 0.3rem;
  margin-right: 20px;
  border-radius: 2px;
}

#likedSongIcon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  border-radius: 2px;
}

#yourPodcastIcon {
  background-color: green;
  font-size: 15px;
  padding: 0.3rem 0.5rem;
  color: #1ed760;
  border-radius: 2px;
  margin-right: 20px;
}

#navBarHome a {
  color: rgb(169, 169, 169);
}

#navBarHome i {
  font-size: 25px;
  padding-right: 15px;
}

#navBarIcon a {
  color: rgb(169, 169, 169);
}

#navBarIcon {
  border-bottom: 1px solid rgba(169, 169, 169, 0.2);
}

#right-side-bar {
  background-color: #0a0a0a;
}

#right-side-bar h4 {
  color: white;
  font-size: 1.3rem;
  margin-bottom: 0;
}

#person,
#close {
  color: rgb(169, 169, 169);
  font-size: 1.3rem;
}

.profileImg {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

#dattagliFriend {
  color: rgb(169, 169, 169);
}

#dattagliFriend p {
  margin: 0;
  font-size: 12px;
}

#dattagliFriend h6 {
  margin-bottom: 0;
}

#iconVinil {
  margin-right: 0.3rem;
}

#center-bar {
  overflow: auto;
  height: 100vh;
  overflow-x: hidden;
}

.custom-scrollbar {
  width: 100%;
  box-sizing: content-box;
  padding-right: 100px;
}

#center-bar::-webkit-scrollbar {
  width: 15px;
}

#center-bar::-webkit-scrollbar-thumb {
  background-color: rgba(169, 169, 169, 0.4);
}

#center-bar::-webkit-scrollbar-track {
  background: none; /* Colore della traccia della barra di scorrimento */
}

#playlist2 {
  width: 100%;
  box-sizing: content-box;
}

#playlist::-webkit-scrollbar {
  width: 15px;
}

#playlist::-webkit-scrollbar-thumb {
  background-color: rgba(169, 169, 169, 0.4);
}

#playlist::-webkit-scrollbar-track {
  background: none; /* Colore della traccia della barra di scorrimento */
}

#avatar {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  margin-right: 0.3rem;
}

#provacolore {
  background: rgb(32, 32, 32);
  background: linear-gradient(0deg, rgb(32, 32, 32) -20%, rgb(192, 171, 70) 120%);
}

#btn-avatar {
  font-size: 14px;
  vertical-align: middle;
  font-weight: 600;
  background-color: #202020;
  opacity: 0.8;
  color: white;
  width: 180px;
  padding: 0.1rem 10rem 0.1rem 0.1rem;
  border: 0;
}

#arr-left {
  background-color: #202020;
  border-radius: 50%;
  opacity: 0.8;
  padding: 0.2rem;
  padding-right: 0.4rem;
  font-size: 23px;
}

#arr-right {
  background-color: #202020;
  border-radius: 50%;
  opacity: 0.8;
  padding: 0.2rem;
  padding-left: 0.4rem;
  font-size: 23px;
}

#album-description p,
h1 {
  color: white;
}

h1 {
  font-size: 4rem; /* Dimensione iniziale per schermi 2K */
  font-weight: 800;
  margin-bottom: 3rem;
  /* Aggiungi ulteriori media query secondo le esigenze fino al breakpoint per smartphone */
}
@media (max-width: 2048px) {
  h1 {
    font-size: 3.7rem; /* Dimensione per schermi tra 2K e 1848px */
  }
}
@media (max-width: 1848px) {
  h1 {
    font-size: 3.4rem; /* Dimensione per schermi tra 1848px e 1648px */
  }
}
@media (max-width: 1678px) {
  h1 {
    font-size: 2.8rem; /* Dimensione per schermi tra 1648px e 1448px */
  }
}
@media (max-width: 1478px) {
  h1 {
    font-size: 2.4rem; /* Dimensione per schermi tra 1448px e 1248px */
  }
}
@media (max-width: 1350px) {
  h1 {
    font-size: 2.2rem; /* Dimensione per schermi tra 1350x e 1288px */
  }
}
@media (max-width: 1288px) {
  h1 {
    font-size: 2rem; /* Dimensione per schermi tra 1248px e 1048px */
  }
}
@media (max-width: 1088px) {
  h1 {
    font-size: 1.7rem; /* Dimensione per schermi tra 1048px e 848px */
  }
}
@media (max-width: 848px) {
  h1 {
    font-size: 1.4rem; /* Dimensione per schermi tra 848px e 648px */
  }
}

#artistImg {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-right: 0.3rem;
}

#cover-img img {
  transition: transform 0.3s;
}
@media (max-width: 1350px) {
  #cover-img img {
    width: 12.6rem;
    height: 12.6rem;
  }
}
@media (max-width: 1248px) {
  #cover-img img {
    width: 12.4rem;
    height: 12.4rem;
  }
}
@media (max-width: 1048px) {
  #cover-img img {
    width: 12.2rem;
    height: 12.2rem;
  }
}
@media (max-width: 848px) {
  #cover-img img {
    width: 9.1rem;
    height: 9.1rem;
  }
}
@media (max-width: 768px) {
  #cover-img img {
    width: 14.1rem;
    height: 14.1rem;
  }
}

#cover-img:hover img {
  transform: scale(1.02);
}

#cover-img {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

#album-description p {
  margin-bottom: 0.5rem;
}

#album-description {
  position: relative;
}

#divArtist {
  position: absolute;
  bottom: 0;
}

#divArtist p {
  margin-bottom: 0;
}

#duration,
#trackList {
  color: rgb(169, 169, 169);
  opacity: 0.7;
}

#playGreen {
  font-size: 60px;
  color: #1ed760;
  transition: transform 0.3s;
  margin-right: 1rem;
  border: 0;
}

#playGreen:hover {
  transform: scale(1.1);
}

#likeHeart,
#downloadIcon,
#dotsDrop {
  font-size: 35px;
  color: rgb(170, 168, 168);
  transition: transform 0.3s;
  border: 0;
}

#likeHeart:hover,
#downloadIcon:hover,
#dotsDrop:hover {
  transform: scale(1.1);
}

#songList {
  background: rgb(192, 171, 70);
  background: linear-gradient(180deg, rgb(192, 171, 70) -60%, rgb(32, 32, 32) 17%);
  border-top: 1px solid rgb(32, 32, 32);
}

#trackList {
  padding: 1rem 2.5rem;
}

#trackList .primaR {
  border-bottom: 1px solid rgba(169, 169, 169, 0.2);
  padding-bottom: 0.6rem;
}

#trackList .row {
  padding-top: 0.6rem;
}

#trackList p {
  margin: 0;
}

#rigaTrack:hover {
  background-color: rgba(169, 169, 169, 0.2);
}

.hidden {
  visibility: hidden;
}

.card img {
  width: 100%;
}

.card {
  width: 180px;
  background-color: #222222;
  border: 1px solid;
  margin: 10px;
  display: inline-block;
  padding: 1rem;
  transition: transform 0.3s;
}

h5 {
  font-size: 14px;
}

.card:hover {
  transform: scale(1);
  background-color: #2c2c2c;
}

.linkArtist {
  text-decoration: none;
  color: rgb(169, 169, 169);
}

.linkArtist:hover {
  text-decoration: underline;
}

#titoloAlbumCorrelati h4 {
  color: white;
}

#titoloAlbumCorrelati a {
  text-decoration: none;
  color: rgb(169, 169, 169);
}

#titoloAlbumCorrelati a:hover {
  text-decoration: underline;
  color: white;
}

@media (max-width: 1200px) {
  .ripr {
    display: none;
  }
}

@media (max-width: 1200px) {
  .colMargin {
    margin-right: auto;
  }
}

@media (max-width: 972px) {
  #right-side-bar {
    display: none;
  }
}

@media (max-width: 768px) {
  #left-side-bar {
    display: none;
  }
}

@media (max-width: 972px) {
  #center-bar {
    width: 75% !important;
  }
}
@media (max-width: 768px) {
  #center-bar {
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  #arr-left,
  #arr-right,
  #btn-avatar,
  #type {
    display: none;
  }
}

@media (max-width: 768px) {
  #divAlbum {
    display: block;
  }
}/*# sourceMappingURL=album-page.css.map */