$light: #fbfbfb;
$dark1: #202020;
$dark2: #131313;
$dark3: #0a0a0a;
$dark4: #0e0e0e;
$dark5: #222222;
$dark6: #2c2c2c;
$green: #1ed760;
$over: #282828;

body {
  background-color: #202020 !important;
  font-family: "Circular";
}
#navMobile {
  display: none;
}

//NUOVA LEFTBAR
#left {
  background-color: black;
  color: white;
  width: 30em;
  height: 100vh;
  height: 86.5vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 20em;
}
#left I {
  width: 20px;
  height: 20px;
  padding: 0px;
  z-index: 3;
}
#left p {
  margin-bottom: 0px;
}
#left div div.row {
  width: 100%;
}

#playlist {
  height: 38.5vh;
  overflow: auto;
}
#navbarNav {
  color: white !important;
}

.nav-link {
  color: white !important;
}
//FINE NUOVA LEFTBAR

#right {
  width: 20em;
  height: 86.5vh;
  position: fixed;
  top: 0;
  right: 0;
  overflow: auto;
}
//FINE CSS RIGHTBAR

#mainAlbum {
  margin-top: 0 !important;
  background-color: #202020;
  height: 99vh;

  margin-left: 0;
  margin-right: 0;
  margin-bottom: 4rem;
}

@media (min-width: 992px) {
  #mainAlbum {
    display: flex;
    margin-left: 20em;
    margin-right: 20em;
  }
}

#provacolore {
  background: rgb(32, 32, 32);
  background: linear-gradient(
    0deg,
    rgba(32, 32, 32, 1) -20%,
    rgba(192, 171, 70, 1) 120%
  );
}
//NUOVA NAVBAR
#avatar {
  display: none;
}

@media (min-width: 992px) {
  #avatar {
    display: block;
    i {
      color: $light;
      padding-right: 0.5em;
      margin-left: 0.5em;
    }
    img {
      width: 2rem;
      border-radius: 50%;
      margin-right: 0.5em;
      padding: 0.2em;
    }
    background-color: $dark3;
    border-radius: 15px;
    margin-right: 1em;
  }
}

#top {
  justify-content: center;
  // align-items: center;
  // position: fixed;
  // align-items: top;
  // top: 1em;
}

#arr-left i {
  font-size: 1em;
  padding: 0.2em;
  cursor: pointer;
  margin-right: 0.2em;
}

#arr-right i {
  display: none;
}

@media (min-width: 992px) {
  #arr-right i {
    display: block;
    font-size: 1em;
    padding: 0.2em;
    cursor: pointer;
    margin-left: 0.1em;
  }
}

#arrows {
  color: $light;
  display: flex;
}
@mixin divArrow {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: $dark2;
  position: relative;
}
#arr-left {
  @include divArrow();
  margin-right: 1em;
}

#arr-right {
  display: none;
}

@media (min-width: 992px) {
  #arr-right {
    @include divArrow();
  }
}
//FINE NUOVA NAVBAR

#album-description p,
h1 {
  color: white;
}
h1 {
  font-size: 3rem; /* Dimensione iniziale per schermi 2K */
  font-weight: 800;
  margin-bottom: 3rem;
}
#artistImg {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-right: 0.3rem;
}
#cover-img img {
  width: 13rem;
  height: 13rem;
  transition: transform 0.3s;
}

#cover-img:hover img {
  transform: scale(1.02);
}
#divArrowBack {
  display: none;
}

#cover-img {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}
#album-description p {
  margin-bottom: 0.5rem;
}
#album-description {
  position: relative;
}
#divArtist {
  position: absolute;
  bottom: 0;
}
#divArtist p {
  margin-bottom: 0;
}
#divHidden {
  display: none !important;
}
// #album {
//   background: rgb(32, 32, 32);
//   background: linear-gradient(
//     0deg,
//     rgba(32, 32, 32, 1) -20%,
//     rgba(192, 171, 70, 1) 120%
//   );
// }
#duration,
#trackList {
  color: rgb(169, 169, 169);
  opacity: 0.7;
}

#playGreen {
  font-size: 26px;
  color: $green;
  transition: transform 0.3s;

  border: 0;
}
#playGreen:hover {
  transform: scale(1.1);
}
#arrowBack {
  font-size: 25px;
  color: white;
}
#likeHeart,
#downloadIcon,
#dotsDrop,
#threeDots,
#shuffleIcon {
  font-size: 28px;
  color: rgb(170, 168, 168);
  transition: transform 0.3s;
  border: 0;
}
#threeDots {
  display: none;
}
#shuffleIcon {
  display: none;
}
#trepH {
  display: none;
}

#likeHeart:hover,
#downloadIcon:hover,
#dotsDrop:hover {
  transform: scale(1.1);
}

#songList {
  background: rgb(192, 171, 70);
  background: linear-gradient(
    180deg,
    rgb(192, 171, 70) -60%,
    rgb(32, 32, 32) 17%
  );
  border-top: 1px solid rgb(32, 32, 32);
}
#trackList {
  padding: 1rem 2.5rem;
}
#trackList .primaR {
  border-bottom: 1px solid rgba(169, 169, 169, 0.2);
  padding-bottom: 0.6rem;
}
#trackList .row {
  padding-top: 0.6rem;
}
#trackList p {
  margin: 0;
}
#rigaTrack:hover {
  background-color: rgba(169, 169, 169, 0.2);
}
.hidden {
  visibility: hidden;
}
.card img {
  width: 100%;
  //width: 150px;
  //height: 150px;
}
.card {
  width: 180px;
  // height: 300px;
  background-color: $dark5;
  border: 1px solid;
  margin: 10px;
  display: inline-block;
  padding: 1rem;
  transition: transform 0.3s;
}
h5 {
  font-size: 14px;
}
.card:hover {
  transform: scale(1);
  background-color: $dark6;
}

.linkArtist {
  text-decoration: none;
  color: rgba(169, 169, 169);
}

.linkArtist:hover {
  text-decoration: underline;
}

.ripr {
  @media (max-width: 1200px) {
    display: none;
  }
}
.colMargin {
  @media (max-width: 1200px) {
    margin-right: auto;
  }
}

#right-side-bar {
  @media (max-width: 1000px) {
    display: none;
  }
}

#divAlbum {
  @media (max-width: 768px) {
    display: block;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (max-width: 1400px) {
  #cover-img {
    img {
      width: 11.1rem;
      height: 11.1rem;
    }
  }

  h1 {
    font-size: 2.3rem;
  }
}
@media (min-width: 993px) {
  #mainAlbum {
    overflow: auto;
  }
}
// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
  #cover-img {
    img {
      width: 10.1rem;
      height: 10.1rem;
    }
  }

  h1 {
    font-size: 2rem;
  }
  #sottoTitolo {
    font-size: 0.8rem;
  }
}
// // Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  #cover-img {
    img {
      width: 10.1rem;
      height: 10.1rem;
    }
  }

  h1 {
    font-size: 1.8rem;
  }
  #top {
    display: none !important;
  }
  #player {
    display: none !important;
  }
  #left {
    display: none;
  }
  #div-Album {
    flex-direction: column;
    align-items: end;
  }

  .row.primaR {
    display: none;
  }
  #cover-img {
    margin-bottom: 1rem;
    img {
      width: 16.1rem;
      height: 16.1rem;
    }
  }
  #type {
    display: none;
  }
  h1 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  #duration {
    display: none;
  }
  #album-description {
    align-self: self-start;
    margin-left: 0 !important;
    position: static;
  }
  #divArtist {
    position: static !important;
  }
  #dataBrano {
    display: none;
  }
  #divHidden {
    display: inline-block !important;
    margin-top: 0.6rem;
    color: rgba(169, 169, 169);
  }
  #songList {
    background: rgb(192, 171, 70);
    background: linear-gradient(
      180deg,
      rgb(192, 171, 70) -103%,
      rgb(32, 32, 32) 17%
    );
    border-top: none;
  }
  .row.primaR {
    display: none;
  }
  #playGreen {
    order: 5;
  }
  #threeDots {
    display: inline-block;
    margin-right: auto;
  }
  #dotsDrop {
    display: none;
  }
  #shuffleIcon {
    display: inline-block;
  }
  #finePagina {
    display: none;
  }
  #album {
    position: relative;
  }
  #divArrowBack {
    display: block;
    position: absolute;
    left: 0;
    top: 10px;

    margin-left: 1rem;
  }
  #secHidden {
    display: none;
  }
  #trepH {
    display: inline-block;
  }
  .trep {
    display: none;
  }
  body {
    margin-bottom: 130px;
  }
}
@media (max-width: 768px) {
  #top {
    display: none !important;
  }
  #player {
    display: none !important;
  }
  #left {
    display: none;
  }
  #div-Album {
    flex-direction: column;
    align-items: end;
  }

  .row.primaR {
    display: none;
  }
  #cover-img {
    margin-bottom: 1rem;
    img {
      width: 16.1rem;
      height: 16.1rem;
    }
  }
  #type {
    display: none;
  }
  h1 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  #duration {
    display: none;
  }
  #album-description {
    align-self: self-start;
    margin-left: 0 !important;
    position: static;
  }
  #divArtist {
    position: static !important;
  }
  #dataBrano {
    display: none;
  }
  #divHidden {
    display: inline-block !important;
    margin-top: 0.6rem;
    color: rgba(169, 169, 169);
  }
  #songList {
    background: rgb(192, 171, 70);
    background: linear-gradient(
      180deg,
      rgb(192, 171, 70) -103%,
      rgb(32, 32, 32) 17%
    );
    border-top: none;
  }
  .row.primaR {
    display: none;
  }
  #playGreen {
    order: 5;
  }
  #threeDots {
    display: inline-block;
    margin-right: auto;
  }
  #dotsDrop {
    display: none;
  }
  #shuffleIcon {
    display: inline-block;
  }
  #finePagina {
    display: none;
  }
  #album {
    position: relative;
  }
  #divArrowBack {
    display: block;
    position: absolute;
    left: 0;
    top: 10px;

    margin-left: 1rem;
  }
  #secHidden {
    display: none;
  }
  #trepH {
    display: inline-block;
  }
  .trep {
    display: none;
  }
  body {
    margin-bottom: 130px;
  }
}
@media (max-width: 576px) {
  #top {
    display: none !important;
  }
  #cover-img {
    margin-bottom: 1rem;
    img {
      width: 16.1rem;
      height: 16.1rem;
    }
  }
  //   #type {
  //   }
  h1 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  #duration {
    display: none;
  }
  #album-description {
    align-self: self-start;
    margin-left: 0 !important;
    position: static;
  }
  #divArtist {
    position: static !important;
  }
  #dataBrano {
    display: none;
  }
  #divHidden {
    display: inline-block !important;
    margin-top: 0.6rem;
    color: rgba(169, 169, 169);
  }
  #songList {
    background: rgb(192, 171, 70);
    background: linear-gradient(
      180deg,
      rgb(192, 171, 70) -103%,
      rgb(32, 32, 32) 17%
    );
    border-top: none;
  }
  #tracklist {
    padding-top: 0 !important;
  }
  .row.primaR {
    display: none;
  }
  #playGreen {
    order: 5;
  }
  #threeDots {
    display: inline-block;
    margin-right: auto;
  }
  #dotsDrop {
    display: none;
  }
  #shuffleIcon {
    display: inline-block;
  }
  #finePagina {
    display: none;
  }
  #album {
    position: relative;
  }
  #divArrowBack {
    display: block;
    position: absolute;
    left: 0;
    top: 10px;

    margin-left: 1rem;
  }
  #secHidden {
    display: none;
  }
  #trepH {
    display: inline-block;
  }
  .trep {
    display: none;
  }
  body {
    margin-bottom: 130px;
  }

  #player {
    display: none !important;
  }
  #left {
    display: none;
  }
}
