$light: #fbfbfb;
$dark1: #202020;
$dark2: #131313;
$dark3: #0a0a0a;
$dark4: #0e0e0e;
$dark5: #222222;
$dark6: #2c2c2c;
$green: #1ed760;
$over: #282828;

body {
  background-color: $dark1;
  font-family: "Circular";
}

#avatar {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  margin-right: 0.3rem;
}
#provacolore {
  background: rgb(32, 32, 32);
  background: linear-gradient(
    0deg,
    rgba(32, 32, 32, 1) -20%,
    rgba(192, 171, 70, 1) 120%
  );
}
// nav {
//   background-color: rgb(192 171 70);
// }
#btn-avatar {
  font-size: 14px;
  vertical-align: middle;
  font-weight: 600;
  background-color: $dark1;
  opacity: 0.8;
  color: white;
  width: 180px;
  padding: 0.1rem 10rem 0.1rem 0.1rem;
  border: 0;
}

#arr-left {
  background-color: $dark1;
  border-radius: 50%;
  opacity: 0.8;
  padding: 0.2rem;
  padding-right: 0.4rem;
  font-size: 23px;
}
#arr-right {
  background-color: $dark1;
  border-radius: 50%;
  opacity: 0.8;
  padding: 0.2rem;
  padding-left: 0.4rem;
  font-size: 23px;
}

#album-description p,
h1 {
  color: white;
}
h1 {
  font-size: 4rem; /* Dimensione iniziale per schermi 2K */
  font-weight: 800;
  margin-bottom: 3rem;

  @media (max-width: 2048px) {
    font-size: 3.7rem; /* Dimensione per schermi tra 2K e 1848px */
  }

  @media (max-width: 1848px) {
    font-size: 3.4rem; /* Dimensione per schermi tra 1848px e 1648px */
  }

  @media (max-width: 1678px) {
    font-size: 2.8rem; /* Dimensione per schermi tra 1648px e 1448px */
  }

  @media (max-width: 1478px) {
    font-size: 2.4rem; /* Dimensione per schermi tra 1448px e 1248px */
  }
  @media (max-width: 1350px) {
    font-size: 2.2rem; /* Dimensione per schermi tra 1350x e 1288px */
  }

  @media (max-width: 1288px) {
    font-size: 2rem; /* Dimensione per schermi tra 1248px e 1048px */
  }

  @media (max-width: 1088px) {
    font-size: 1.7rem; /* Dimensione per schermi tra 1048px e 848px */
  }

  @media (max-width: 848px) {
    font-size: 1.4rem; /* Dimensione per schermi tra 848px e 648px */
  }

  /* Aggiungi ulteriori media query secondo le esigenze fino al breakpoint per smartphone */
}
#artistImg {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-right: 0.3rem;
}
#cover-img img {
  transition: transform 0.3s;
  @media (max-width: 1350px) {
    width: 12.6rem;
    height: 12.6rem;
  }
  @media (max-width: 1248px) {
    width: 12.4rem;
    height: 12.4rem;
  }

  @media (max-width: 1048px) {
    width: 12.2rem;
    height: 12.2rem;
  }

  @media (max-width: 848px) {
    width: 9.1rem;
    height: 9.1rem;
  }
  @media (max-width: 768px) {
    width: 14.1rem;
    height: 14.1rem;
  }
}
#cover-img:hover img {
  transform: scale(1.02);
}
#cover-img {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}
#album-description p {
  margin-bottom: 0.5rem;
}
#album-description {
  position: relative;
}
#divArtist {
  position: absolute;
  bottom: 0;
}
#divArtist p {
  margin-bottom: 0;
}
// #album {
//   background: rgb(32, 32, 32);
//   background: linear-gradient(
//     0deg,
//     rgba(32, 32, 32, 1) -20%,
//     rgba(192, 171, 70, 1) 120%
//   );
// }
#duration,
#trackList {
  color: rgb(169, 169, 169);
  opacity: 0.7;
}

#playGreen {
  font-size: 60px;
  color: $green;
  transition: transform 0.3s;
  margin-right: 1rem;
  border: 0;
}
#playGreen:hover {
  transform: scale(1.1);
}

#likeHeart,
#downloadIcon,
#dotsDrop {
  font-size: 35px;
  color: rgb(170, 168, 168);
  transition: transform 0.3s;
  border: 0;
}
#likeHeart:hover,
#downloadIcon:hover,
#dotsDrop:hover {
  transform: scale(1.1);
}

#songList {
  background: rgb(192, 171, 70);
  background: linear-gradient(
    180deg,
    rgb(192, 171, 70) -60%,
    rgb(32, 32, 32) 17%
  );
  border-top: 1px solid rgb(32, 32, 32);
}
#trackList {
  padding: 1rem 2.5rem;
}
#trackList .primaR {
  border-bottom: 1px solid rgba(169, 169, 169, 0.2);
  padding-bottom: 0.6rem;
}
#trackList .row {
  padding-top: 0.6rem;
}
#trackList p {
  margin: 0;
}
#rigaTrack:hover {
  background-color: rgba(169, 169, 169, 0.2);
}
.hidden {
  visibility: hidden;
}
.card img {
  width: 100%;
  //width: 150px;
  //height: 150px;
}
.card {
  width: 180px;
  // height: 300px;
  background-color: $dark5;
  border: 1px solid;
  margin: 10px;
  display: inline-block;
  padding: 1rem;
  transition: transform 0.3s;
}
h5 {
  font-size: 14px;
}
.card:hover {
  transform: scale(1);
  background-color: $dark6;
}

.linkArtist {
  text-decoration: none;
  color: rgba(169, 169, 169);
}

.linkArtist:hover {
  text-decoration: underline;
}

#titoloAlbumCorrelati h4 {
  color: white;
}
#titoloAlbumCorrelati a {
  text-decoration: none;
  color: rgba(169, 169, 169);
}
#titoloAlbumCorrelati a:hover {
  text-decoration: underline;
  color: white;
}

// @media (max-width: 1399.98px) {
//   h1 {
//     font-size: 2rem;
//   }
// }

.ripr {
  @media (max-width: 1200px) {
    display: none;
  }
}
.colMargin {
  @media (max-width: 1200px) {
    margin-right: auto;
  }
}

#right-side-bar {
  @media (max-width: 972px) {
    display: none;
  }
}

#left-side-bar {
  @media (max-width: 768px) {
    display: none;
  }
}

#center-bar {
  @media (max-width: 972px) {
    width: 75% !important;
  }
  @media (max-width: 768px) {
    width: 100% !important;
  }
}

#arr-left,
#arr-right,
#btn-avatar,
#type {
  @media (max-width: 768px) {
    display: none;
  }
}

#divAlbum {
  @media (max-width: 768px) {
    display: block;
  }
}
