$light: #fbfbfb;
$dark1: #202020;
$dark2: #131313;
$dark3: #0a0a0a;
$dark4: #0e0e0e;
$dark5: #222222;
$dark6: #2c2c2c;
$dark_player: #181818;
$green: #1ed760;
$over: #282828;

body {
  background-color: $dark1 !important;
}

#avatar {
  i {
    color: $light;
    padding-right: 0.5em;
    margin-left: 0.5em;
  }
  img {
    width: 2rem;
    border-radius: 50%;
    margin-right: 0.5em;
    padding: 0.2em;
  }
  background-color: $dark3;
  border-radius: 15px;
}
#top {
  justify-content: center;
  align-items: center;
}

#arr-left i {
  font-size: 2em;
  padding: 0.2em;
  cursor: pointer;
  margin-right: 0.2em;
}

#arr-right i {
  font-size: 2em;
  padding: 0.2em;
  cursor: pointer;
  margin-left: 0.1em;
}

#arrows {
  color: $light;
  display: flex;
}

@mixin divArrow {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: $dark2;
  position: relative;
}

#arr-left {
  @include divArrow();
  margin-right: 2em;
}

#arr-right {
  @include divArrow();
}

#center-bar {
  width: 100%;
  margin-bottom: 1em;
}

#main {
  margin-top: 0 !important;
  background-color: $dark1;
  height: 99vh;
  overflow: auto;
  margin-left: 20em;
  margin-right: 20em;
}

#first-album {
  background-color: $dark4;
  div img {
    margin: 1em 0.5em 0.5em;
  }
  margin-top: 1em !important;
  div:nth-of-type(2) {
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 55%;
  }
  div:nth-of-type(3) p {
    font-size: 0.8em;
    background-color: $dark5;
    padding: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 10px;
  }
  h5 {
    font-size: 0.8em;
  }
}
@mixin padding-buttons {
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.play {
  @include padding-buttons();
  background-color: $green;
  border: 0;
  font-weight: bold;
  border-radius: 15px;
  margin-right: 1em;
}
.save {
  @include padding-buttons();
  font-weight: bold;
  border-radius: 20px;
  color: $light;
  background-color: transparent;
  border: 1px solid white;
  margin-right: 1em;
}

.spread {
  align-items: center;
  transform: translateY(-15%);
  &::after {
    transform: translateY(-50%);
    top: 50%;
  }
  border: 0;
  background-color: transparent;
  color: white;
  font-size: 2em;
  display: inline-block;
  justify-content: center;
}

.banner {
  background-color: $dark6;
  border-radius: 5px;

  div {
    img {
      border-radius: 5px 0 0 5px;
    }
    p {
      font-weight: bold;
    }
  }
}

.out-banner {
  background-color: $dark5;
}

.big-banner {
  &:hover {
    background-color: $over !important;
    cursor: pointer;
  }
  background-color: $dark5 !important;
  padding: 1em;
  h6 {
    color: white;
  }
  p {
    color: white;
  }
  img {
    border-radius: 5px;
    height: 12em;
  }
}
.card.big-banner {
  height: 25rem;
}

.col {
  background-color: transparent;
}

#fa-img {
  img {
    width: 15rem;
  }
}

#player {
  background-color: black;
  position: fixed;
  height: 6rem;
  width: 100vw;
  bottom: 0;
}

.player-left {
  width: 30%;
  h6 {
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 0;
  }
  p {
    font-size: 0.7em;
    margin-bottom: 0;
  }
  img {
    width: 3rem;
    height: 3rem;
  }
}

.player-center {
  color: white;
  width: 40%;
}

.player-center-top i {
  margin-right: 1.2em;
}

.album-img {
  height: 100px;
}

.progr-bar {
  margin-top: 0.5em;
  width: 25rem;
  display: contents;
}
.player-right {
  display: flex;
  justify-content: end;
  width: 30%;
  text-align: end;
  i {
    margin-right: 1.2em;
    font-size: 1.2em;
  }
}

#bar2 {
  width: 4em;
  margin-right: 1em;
  margin-left: -1em;
  position: relative;
  top: 0.6em;
}
.bi-shuffle {
  margin-top: 0.6em;
}
.fa-step-backward,
.fa-step-forward,
.fa-undo-alt {
  margin-top: 0.7em;
}
.bi-play-circle-fill {
  font-size: 1.8em;
  margin-right: 0.5em !important;
  // margin-top: 0.3em;
}


.mioRettangolo:hover {
  cursor: pointer;
}

//sidebar sinistra

#left {
  background-color: black;
  // background-color: transparent;
  color: white;
  width: 30em;
  height: 100vh;
  height: 86.5vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 20em;
  I {
    width: 20px;
    height: 20px;
    padding: 0px;
    z-index: 3;
  }

  p {
    margin-bottom: 0px;
  }
  div div.row {
    width: 100%;
  }
}

#playlist {
  height: 38.5vh;
  overflow: auto;
}

#right {
  width: 20em;
  height: 86.5vh;
  position: fixed;
  top: 0;
  right: 0;
  overflow: auto;
}
#navbarNav {
  color: white !important;
}

.nav-link {
  color: white !important;
}

.sidebar {
  padding-right: 0 !important;
}

.bi-pause-circle-fill {
  font-size: 1.8em;
  margin-right: 0.5em !important;
}

#like-tooltip {
  font-size: 0.9em;
  display: none;
  background-color: #333;
  color:#f2f2f2 ;
  padding: 8px;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  top: -20px;
  left: 10%;
  transform: translateX(-50%);
  animation-duration: 0s
}


#like-tooltip2 {
  font-size: 0.9em;
   display: none;
  background-color: rgb(71, 71, 210);
  color:#f2f2f2 ;
  padding: 12px 70px;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  top:  -55px;
  left: 50%;
  transform: translateX(-50%);

}

.shake {
  animation: shake 0.5s ;
 
}



@keyframes shake {
  
  0% { transform: translateX(0); }
  10% { transform: translateX(-2px); }
  20% { transform: translateX(2px); }
  30% { transform: translateX(-2px); }
  40% { transform: translateX(2px); }
  50% { transform: translateX(-2px); }
  60% { transform: translateX(2px); }
  70% { transform: translateX(-2px); }
  80% { transform: translateX(2px); }
  90% { transform: translateX(-2px); }
  100% { transform: translateX(0); }
}

.big {
  animation:  big 0.5s;
  
}

@keyframes big {
  0% { transform: translateX(1); }
  10% { transform: scale(1.5); }
  20% { transform: scale(2); }
  30% { transform: scale(1.5); }
  40% { transform: scale(1); }
  50% { transform:scale(1.5); }
  60% { transform: scale(2); }
  70% { transform:scale(1.5); }
  80% { transform:  scale(1); }
  90% { transform: scale(1.5); }
  100% { transform: translateX(1); }
}

.hover:hover {
color: white !important;
}